
body{
	background-color: black;
	color: white;
}

h1{
	color: purple;
	text-align: center;
	font-family: sans-serif;
	margin-bottom: 30px;
}


h2{ color: purple;
}

#menu_web{
	background: black;
	font-weight: bold;
	font-size: 16.6px;
	margin-bottom: 40px;
}

.menu:link{
	text-decoration: none;
	color: purple;
}

.menu:hover{
	background: white;
}

.menu:active{
	font-weight: lighter;
	color: purple;
}
