 
h1{
	text-align: center;
	color: purple;
	text-transform: uppercase;
}

body{
	background-image: url("sora.jpg")
	background-position: center;
}

p{
	font-size: 20px;
}

#menu_web{
	background-color: #f4f4f4;
}

#text_pertama{
	text-align: justify;
	text-indent: 30px;
}
