
h1{
	text-align: center;
	color: purple;
	font-family: sans-serif;
}

body{
	background-color:black;
	background-position: center;
	color: white;
}

p{
	font-size: 20px;
}

#menu_web{
	background-color: black;
	font-weight: bold;
	font-size: 21px;
	margin-bottom: 59px;
}

#text_pertama{
	text-align: justify;
	text-indent: 30px;
	
}

.menu:link{
text-decoration: none;
color: purple;
}

.menu:hover{
	background: white;
	color: purple;
}
.menu:active{
	font-weight: lighter;
	color: purple;
}
